@inherits LayoutComponentBase

<div id="keyCatcher" tabindex="-1" style="outline: none; font-size: @fontSizePercent" @onkeydown="e => KeyDown(e)">
  <div class="page">
    <main>
      <article class="content px-4">
        @Body
      </article>
    </main>
  </div>
</div>

@code {
  private string fontSizePercent { get; set; } = "100%";

  protected override void OnInitialized()
  {
    base.OnInitialized();

    navManager.NavigateTo("compare");
    messageBroker.ZoomChangedEvent += onZoomChanged;
  }

  public void Dispose()
  {
    messageBroker.ZoomChangedEvent -= onZoomChanged;
  }

private void onZoomChanged(object? sender, ZoomEventArgs zea)
  {
    fontSizePercent = $"{zea.Zoom}%";
    StateHasChanged();
  }

  private void KeyDown(KeyboardEventArgs e)
  {
    messageBroker.NotifyNewKeyboardEvent(e);
  }
}