<div>
  <span title="@message">
    Hover your mouse over me for a few seconds
    to see my dynamically bound title!
  </span>
</div>

@code {
  private string message = $"You loaded this page on {DateTime.Now.ToLongDateString()} {DateTime.Now.ToLongTimeString()}";
}
