<div class="animate__animated @animation">
  @((MarkupString)basicSlideDTO.Content)
</div>

@code {
  [Parameter] public SlideDTO? SlideData { get; set; }
  [Parameter] public int Direction { get; set; }

  string animation { get; set; } = "animate__slideInRight";

  private BasicSlideDTO basicSlideDTO => (BasicSlideDTO)SlideData!;

  public async Task StartTimerAsync()
  {
    await Task.Delay(1000);
    animation = "none";
    StateHasChanged();
  }

  protected override async Task OnAfterRenderAsync(bool firstRender)
  {
    if ((Direction != 0) && (animation != "none"))
      await StartTimerAsync();
  }

  protected override void OnParametersSet()
  {
    base.OnParametersSet();
    animation = (Direction == 0) ? "none" 
      : (Direction > 0) ? "animate__slideInRight" : "animate__slideInLeft";
    StateHasChanged();
  }
}
